<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Properties>
        <Property name="filename">test.log</Property>
    </Properties>
    <Appenders>
        <Appender type="File" name="File" filename="${filename}"></Appender> 
    </Appenders>
    <Loggers>
        <Logger name="rsvier.workshop1.AccountSQL" level="trace">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>